<div class="card" class="w-50 p-3" style="background-color: #eee; width: 75%">
  <h5 class="card-header">{{ hotelInfo.name }}</h5>
  <div class="card-body">
    <!--<h4 class="card-title">Special title treatment</h4>-->
    <p class="card-text">{{ hotelInfo.description}}</p>
    <div class="card" style="width: 20rem;">
      <ul class="list-group list-group-flush">
        <li  class="list-group-item" *ngFor="let service of hotelInfo.services">{{service}}</li>
        
      </ul>
    </div>
    
    
    
  </div>
</div>




<!--<h3>{{ hotelInfo.name }} </h3>-->
  <!--<p>{{ hotelInfo.description}}</p>-->
  <!--<ul>-->
    <!--<li *ngFor="let service of hotelInfo.services">{{service}}</li>-->
  <!--</ul>-->

<!--<p>This hotel offers the following services:</p>-->
<!--<h3>Reviews</h3>-->
<!--<ul>-->
<!--<li *ngFor="let review of hotelInfo.reviews"> <strong>{{ review.name }} says:</strong> {{ review.review }}</li>-->
<!--</ul>-->

