<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/Home']">MEAN STACK</a>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Events']">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/HotelListings']">Hotel listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
