<h3>register</h3>
<div ng-if="hotel.message" class="alert alert-success" role="alert">
  <p>{{ hotel.message}}</p>
</div>
<div ng-if="hotel.error" class="alert alert-danger" role="alert">
  {{ hotel.error }}
</div>



<form novalidate
      (ngSubmit)="register()"
      [formGroup]="registerForm" #formDir="ngForm"
      class="form-group">
  <div class="form-group">
    <label for="name" class=" col-md-6 control-label">name</label>
    <input
      class="col-md-6 form-control"
      type="text"
      id="name"
      name="name"
      placeholder="Full Name"
      formControlName="name">
  
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger col-md-6">
    
      <div *ngIf="name.errors.required">
        Event Name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Full Name must be at least 8 characters long.
      </div>
  
    </div>
  </div>
  
  <div class="form-group">
    <label for="username" class=" col-md-6 control-label">username</label>
    <input
      class="col-md-6 form-control"
      type="text"
      id="username"
      name="username"
      placeholder="username"
      formControlName="userName">
  
    <div *ngIf="userName.invalid && (name.dirty || userName.touched)"
         class="alert alert-danger col-md-6">
    
      <div *ngIf="userName.errors.required">
        User Name is required.
      </div>
      <div *ngIf="userName.errors.minlength">
        User Name must be at least 8 characters long.
      </div>
  
    </div>
  </div>
  
  <div class="form-group">
    <label for="password" class=" col-md-6 control-label">password</label>
    <input
      class="col-md-6 form-control"
      type="password"
      id="password"
      name="password"
      placeholder="password"
      formControlName="password">
  
    <div *ngIf="password.invalid && (name.dirty || password.touched)"
         class="alert alert-danger col-md-6">
    
      <div *ngIf="password.errors.required">
        password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        password must be at least 8 characters long.
      </div>
  
    </div>
  </div>
  <div class="form-group">
    <label for="password-again" class=" col-md-6 control-label">password again</label>
    <input
      class="col-md-6 form-control"
      type="password"
      id="password-again"
      name="password-again"
      placeholder="password again"
      formControlName="passwordAgain">
  
    <div *ngIf="passwordAgain.invalid && (name.dirty || passwordAgain.touched)"
         class="alert alert-danger col-md-6">
    
      <div *ngIf="passwordAgain.errors.required">
        passwordAgain is required.
      
      </div>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!registerForm.valid">
                                    Submit
                                </button>
                            </span>
      <span>
                  
                            </span>
    </div>
  </div>

</form>

